---
seo:
  seo_title: Home
  seo_description: Description of home page
afbeelding:
  image:
  alt:
list:
  - title: "Question 1"
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, deleniti."
  - title: "Question 1"
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, deleniti."
  - title: "Question 1"
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, deleniti."
---

<main>
  <section class="index-hero">
    {% bookshop "accordion" list: list %}
  </section>
</main>