<nav class="nav-bottom">
  <div class="nav-bottom__toolbar">
    <a href="#" class="nav-bottom__btn">
      <i class="material-icons">category</i>
      link A
    </a>
    <a href="#" class="nav-bottom__btn">
      <i class="material-icons">category</i>
      link B
    </a>
    <a href="#" class="nav-bottom__btn">
      <i class="material-icons">category</i>
      link C
    </a>
    <a href="#" class="nav-bottom__btn">
      <i class="material-icons">category</i>
      link D
    </a>
  </div>
</nav>