.nav-bottom {
  position: fixed;
  display: flex;
  z-index: 8;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52px;
  background: $color-bg-light;
  border-top: $border-base;

  // account for ios bar
  box-sizing: content-box;
  padding-bottom: env(safe-area-inset-bottom);

  @include media(3) {
    display: none;
  }

  &__btn {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-300);
    justify-content: space-evenly;
    color: $color-text-base;
  }
}
