<nav class="nav-bottom">
  {% for item in items %}
    <a href="{{ item.url }}" class="nav-bottom__btn btn">
      <i class="material-icons">{{ item.icon }}</i>
      {{ item.title }}
    </a>   
  {% endfor %}
</nav>