.accordion {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;

    & + & {
      margin-top: var(--space-400);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__h {
    margin: 0 auto 0 0;
  }

  &__p {
    margin: 0;
  }
}
