<div x-data="{ activeAccordionItem: null }" class="accordion">
  {% for item in list %}
    <div x-data="{ 
      id: {{ forloop.index }},
      get expanded() {
        return this.activeAccordionItem === this.id
      },
      set expanded(value) {
        this.activeAccordionItem = value ? this.id : null
      }
    }" 
    role="region" class="accordion__item">
      <button @click="expanded = !expanded" class="accordion__btn" :aria-expanded="expanded">
        <h3 class="accordion__h">{{ item.title }}</h3>
        <i class="material-icons icon" :class="expanded && 'rotate'">expand_more</i>
      </button>
      <p x-show="expanded" class="accordion__p" x-collapse.duration.200>{{ item.description }}</p>
    </div>
  {% endfor %}
</div>