.gallery {
  @extend %wrapper;

  position: relative;
  display: grid;
  padding: 0;
  max-height: calc(100vh - 100px);

  @include media(2) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'a a b'
      'a a c';
    padding: 0 var(--wrapper-padding);
  }

  &__img {
    position: relative;
    min-height: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;

    &--1 {
      grid-area: a;
    }

    &--2,
    &--3 {
      display: none;

      @include media(2) {
        display: block;
      }
    }

    &--2 {
      grid-area: b;
    }

    &--3 {
      grid-area: c;
    }
  }

  &__btn {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;

    bottom: var(--space-200);
    left: var(--space-200);
    padding: var(--space-100) var(--space-200);
    border: $border-base;
    border-radius: $radius-small;
    box-shadow: $shadow-base;
    background: $color-bg-dark;
    color: $color-text-base;

    opacity: 0.5;
    transition: opacity 100ms ease;

    @include media(2) {
      left: calc(var(--space-200) + var(--wrapper-padding));
    }

    &:hover {
      opacity: 1;
    }

    i {
      margin-right: var(--space-100);
    }
  }

  &__modal {
    position: fixed;
    @include inset;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: $color-bg-dark;
    display: flex;
    flex-direction: column;
  }
}

.gallery-toolbar {
  background: $color-bg-base;
  border-bottom: $border-base;

  &__content {
    @extend %wrapper;
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    padding: var(--space-300) 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: var(--space-200);

    &:last-child {
      margin-left: auto;
    }
  }
}

.gallery-list,
.gallery-single {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-gap: var(--space-100);

  @include media(2) {
    grid-gap: var(--space-200);
    padding: var(--space-200);
  }
}

.gallery-list {
  display: grid;
  justify-content: center;
  overflow-y: scroll;

  @include media(2) {
    grid-template-columns: repeat(2, max(1fr));
  }

  @include media(3) {
    grid-template-columns: repeat(2, max(480px));
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

    @include media(2) {
      pointer-events: all;
      cursor: pointer;

      &:nth-of-type(3n + 0) {
        grid-column: 1/3;
      }
    }
  }
}

.gallery-single {
  min-height: 0;
  display: flex;
  justify-content: space-between;

  &__img {
    min-width: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}
