h1, h2, h3, h4 {
  font-family: $font-family-heading;
  color: $font-color-dark;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: clamp(32px, 8vw, 52px);
  margin: 0 0 .2em;
}

h2 {
  font-size: clamp(26px, 5vw, 38px);
  margin: 0 0 .8em;
}

h3 {
  font-size: clamp(20px, 3.5vw, 24px);
  margin: 0 0 .4em;
}

p {
  font-size: clamp(17px, 2vw, 19px);
  margin: 0;
  font-weight: 300;
  line-height: 1.55;
}